<div class="ma-footer-static">
    <div class="container">
        <div class="footer-static">
            <div class="row">
                <div class="f-col f-col-3 col-sm-9 col-md-6 col-sms-6 col-smb-12">
                    <div class="img-logo"><a href="#"><img src="https://i.pinimg.com/originals/2c/a6/8e/2ca68edfc475f353c939b7794f654ab3.jpg" width="150" height="150" alt=""></a></div>
                    <div class="footer-static-content ">
                    </div>
                </div>
                <div class="f-col f-col-7 col-sm-6 col-md-6 col-sm-6 col-xm-12">
                    <div class="footer-static-title">
                        <h3>Thông tin liên hệ</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first">Địa chỉ:FPT APTECH- Số 8 Tôn Thất Thuyết</li>
                            <li>Số điện thoại: 03863242452</li>
                            <li>Email: Minhvc.fpt@gmail.com</li>
                            <li>Chịu Trách nhiệm quản lý nội dung: Vương Công Minh</li>
                            <li class="last">Mã số thuế: 017252324</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
